{% extends 'base.html.twig' %}
{% block title %}
    Connexion
{% endblock %}

{% block body %}
    <div class="col-md-8 offset-2">
        {% include 'connexion/form.html.twig' %}
    </div>

{% endblock %}