{% block stylesheets %}
<style>


</style>
{% endblock %}
<div class="panel panel-login" style="margin: auto;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="active" id="login-form-link">Se connecter</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" id="register-form-link">S'enregistrer</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="login-form" method="post" role="form" style="display: block; margin-top: 10px;">
                            <div class="form-group">
                                <div class="col-md-6 offset-3">
                                    <input type="text" name="username" tabindex="1" class="form-control" placeholder="Nom utilisateur" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-3">
                                    <input type="password" name="password" tabindex="2" class="form-control" placeholder="Mot de passe">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 offset-3">
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Se connecter">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a tabindex="5" class="forgot-password">Mot de passe oublié ?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="register-form" method="post" role="form" style="display: none; margin-top: 10px;">
                            <div class="form-group">
                                <div class="col-md-6 offset-3">
                                    <input type="text" name="username" tabindex="1" class="form-control" placeholder="Nom utilisateur" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-3">
                                    <input type="email" name="email" tabindex="1" class="form-control" placeholder="Adresse email" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-3">
                                    <input type="password" name="password" tabindex="2" class="form-control" placeholder="Mot de passe">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-3">
                                    <input type="password" name="confirm-password" tabindex="2" class="form-control" placeholder="Confirmer mot de passe">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 offset-3">
                                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="S'enregistrer">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>