<div class="col-lg-4">
    <div class="card my-4">
        <h5 class="card-header">Progression</h5>
        <div class="card-body">
            <div class="input-group">

            </div>
            </div>
        </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Chapitre</h5>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">Chapitre 1 - Introduction</li>
                <li class="list-group-item">Chapitre 2 - Comment ça fonctionne ? </li>
                <li class="list-group-item">Chapitre 3 - ...</li>
            </ul>
        </div>
    </div>
</div>
