
<style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 32.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.54)}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica; color: #00838f; -webkit-text-stroke: #00838f}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.85)}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.85); min-height: 22.0px}
    p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica; color: #0277bd; -webkit-text-stroke: #0277bd}
    p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; font: 20.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.87)}
    p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.85); background-color: #ffffff; min-height: 22.0px}
    p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.85); background-color: #ffffff}
    p.p9 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica; color: #512da8; -webkit-text-stroke: #512da8}
    p.p10 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica; color: #d81b60; -webkit-text-stroke: #d81b60}
    p.p11 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica; color: #004d40; -webkit-text-stroke: #004d40}
    p.p12 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica; color: #304ffe; -webkit-text-stroke: #304ffe}
    p.p13 {margin: 0.0px 0.0px 0.0px 0.0px; font: 24.0px Helvetica; color: #ab47bc; -webkit-text-stroke: #ab47bc}
    li.li3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.85)}
    li.li8 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica; -webkit-text-stroke: rgba(0, 0, 0, 0.85); background-color: #ffffff}
    li.li14 {margin: 0.0px 0.0px 0.0px 0.0px; font: 18.0px Helvetica}
    span.s1 {font-kerning: none; background-color: #ffffff}
    span.s2 {background-color: #ffffff}
    span.s3 {font-kerning: none}
    span.s4 {font: 18.0px Helvetica; text-decoration: underline ; font-kerning: none; -webkit-text-stroke: 0px rgba(0, 0, 0, 0.85)}
    span.s5 {font-kerning: none; color: #000000; -webkit-text-stroke: 0px #545454}
    span.s6 {text-decoration: underline ; font-kerning: none}
    span.s7 {text-decoration: underline ; font-kerning: none; background-color: #ffffff}
    ul.ul1 {list-style-type: disc}
</style>

<p class="p1"><span class="s1">Conditions Générales d'Utilisation</span></p>
<p class="p2"><span class="s1">Définitions</span></p>
<p class="p3"><span class="s1">Les Parties conviennent et acceptent que les termes suivants utilisés avec une majuscule, au singulier et/ou au pluriel, auront, dans le cadre des présentes Conditions Générales d'Utilisation, la signification définie ci-après :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"><b></b></span><span class="s1"><b>« Contrat »</b> : désigne les présentes Conditions Générales d'Utilisation ainsi que la Politique de protection des données personnelles ;</span></li>
    <li class="li3"><span class="s2"><b></b></span><span class="s1"><b>« Membre »</b> : désigne indifféremment le Membre apprenant et le Membre administrateur ;</span></li>
    <li class="li3"><span class="s2"><b></b></span><span class="s1"><b>« Plateforme »</b> : plateforme numérique de type site Web et/ou application mobile permettant l'accès au Service ainsi que son utilisation ;</span></li>
    <li class="li3"><span class="s2"><b></b></span><span class="s1"><b>« Utilisateur »</b> : désigne toute personne qui utilise la Plateforme, qu'elle soit un Visiteur ou un Membre ;</span></li>
    <li class="li3"><span class="s2"><b></b></span><span class="s1"><b>« Visiteur »</b> : désigne toute personne, internaute, naviguant sur la Plateforme sans création de compte associé.</span></li>
</ul>
<p class="p3"><span class="s1">Les présentes Conditions Générales d'Utilisation (ci-après les "CGU") régissent nos rapports avec vous, personne accédant à la Plateforme, applicables durant votre utilisation de la Plateforme et, si vous êtes un Membre jusqu'à désactivation de votre compte. Si vous n'êtes pas d'accord avec les termes des CGU il vous est vivement recommandé de ne pas utiliser notre Plateforme et nos services.</span></p>
<p class="p3"><span class="s1">En naviguant sur la Plateforme, si vous êtes un Visiteur, vous reconnaissez avoir pris connaissance et accepté l'intégralité des présentes CGU et notre Politique de protection des données personnelles.</span></p>
<p class="p3"><span class="s1">En créant un compte en cliquant sur le bouton « S'inscrire » pour devenir Membre, vous êtes invité à lire et accepter les présentes CGU et la Politique de protection des données personnelles, en cochant la case prévue à cet effet.</span></p>
<p class="p3"><span class="s1">Nous vous encourageons à consulter les Conditions Générales d'Utilisation et la Politique de protection des données personnelles » avant votre première utilisation de notre Plateforme et régulièrement lors de leurs mises à jour. Nous pouvons en effet être amenés à modifier les présentes CGU. Si des modifications sont apportées, nous vous informerons par email ou via notre Plateforme pour vous permettre d'examiner les modifications avant qu'elles ne prennent effet. Si vous continuez à utiliser notre Plateforme après la publication ou l'envoi d'un avis concernant les modifications apportées aux présentes conditions, cela signifie que vous acceptez les mises à jour. Les CGU qui vous seront opposables seront celles en vigueur lors de votre utilisation de la Plateforme.</span></p>
<p class="p4"><span class="s3"></span><br></p>
<p class="p5"><span class="s1">Article 1. Inscription au service</span></p>
<p class="p6"><span class="s1">1.1 Conditions d'inscription à la Plateforme</span></p>
<p class="p3"><span class="s1">Certaines fonctionnalités de la Plateforme nécessitent d'être inscrit et d'obtenir un compte. Avant de pouvoir vous inscrire sur la Plateforme vous devez avoir lu et accepté les présentes CGU et la Politique de protection des données personnelles.</span></p>
<p class="p3"><span class="s1">Vous déclarez avoir la capacité d'accepter les présentes conditions générales d'utilisation, c'est-à-dire avoir plus de 16 ans et ne pas faire l'objet d'une mesure de protection juridique des majeurs (mise sous sauvegarde de justice, sous tutelle ou sous curatelle).</span></p>
<p class="p3"><span class="s1">Avant d'accéder à notre Plateforme, le consentement des mineurs de moins de 16 ans doit être donné par le titulaire de l'autorité parentale.</span></p>
<p class="p3"><span class="s1">Notre Plateforme ne prévoit aucunement l'inscription, la collecte ou le stockage de renseignement relatifs à toute personne âgée de 13 ans ou moins.</span></p>
<p class="p6"><span class="s1">1.2 Création de compte</span></p>
<p class="p3"><span class="s1">Vous pourrez créer un compte des deux manières suivantes :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"></span><span class="s1">En remplissant manuellement, sur notre Plateforme, les champs obligatoires figurant sur le formulaire d'inscription, à l'aide d'informations complètes et exactes. Pour enregistrer votre compte, il vous faudra soumettre à Webemy certaines informations à caractère personnel telles que votre nom, prénom, pseudo et votre adresse email. Vous trouverez le descriptif du traitement de vos données dans notre Politique de protection des données personnelles ;</span></li>
</ul>
<p class="p7"><span class="s3"></span><br></p>
<p class="p3"><span class="s1">A l'occasion de la création de votre compte, et ce quelle que soit la méthode choisie pour ce faire, vous vous engagez à fournir des informations personnelles vraies, exactes, complètes et à les mettre à jour par l'intermédiaire de votre profil ou en en avertissant Webemy, afin d'en garantir la pertinence et l'exactitude tout au long de votre relation avec Webemy.</span></p>
<p class="p3"><span class="s1">En cas d'inscription par email, vous vous engagez à garder secret le mot de passe choisi lors de la création de votre compte et à ne le communiquer à personne. En cas de perte ou divulgation de votre mot de passe, vous vous engagez à en informer sans délai Webemy. Vous êtes seul responsable de l'utilisation faite de votre compte par un tiers, tant que vous n'avez pas expressément notifié Webemy de la perte, l'utilisation frauduleuse ou la divulgation de votre mot de passe à un tiers.</span></p>
<p class="p3"><span class="s1">Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d'un tiers, d'autres comptes que celui initialement créé. Vous ne pouvez pas autoriser des tiers à utiliser votre compte. Vous ne pouvez pas céder ou, quoi qu'il en soit, transférer votre compte à toute autre personne ou entité.</span></p>
<p class="p3"><span class="s1">Vous acceptez de respecter les lois applicables lorsque vous utilisez les services, et vous ne pouvez utiliser les services qu'à des fins légales. Le contenu présent sur la Plateforme doit uniquement être utilisé pour un usage privé.</span></p>
<p class="p3"><span class="s1">Lorsque vous choisissez votre mot de passe, vous ne devez pas utiliser de mot de passe simpliste (par exemple : 123456).</span></p>
<p class="p3"><span class="s1">L'identifiant et le mot de passe seront strictement personnels et confidentiels et vous devrez les conserver et les utiliser de manière à en préserver la stricte confidentialité.</span></p>
<p class="p3"><span class="s1">Le Membre sera seul autorisé à accéder au Service à l'aide de son identifiant et son mot de passe. Toute utilisation de la Plateforme au moyen de ses identifiants et mot de passe est réputée avoir été faite par le Membre lui-même. En cas d'utilisation par un tiers de ses identifiant et mot de passe, le Membre devra en avertir immédiatement Webemy en lui adressant un email à l'adresse suivante : <a href="mailto:hello@openclassrooms.com"><span class="s4">hello@Webemy.com</span></a>.</span></p>
<p class="p3"><span class="s1">Le Membre qui a perdu son mot de passe devra se connecter sur le site de Webemy et suivre la procédure en cliquant sur le lien « contacter » et expliquer la raison de la requête.</span></p>
<p class="p3"><span class="s1">Le Membre est responsable de l'utilisation de la Plateforme et de toutes les actions réalisées au sein de la Plateforme avec son identifiant et son mot de passe, sauf si l'utilisation de son compte a été faite après sa désinscription, ou après notification à Webemy d'une utilisation abusive de son compte.</span></p>
<p class="p6"><span class="s1">1.3. Conditions d'accès à la Plateforme</span></p>
<p class="p3"><span class="s1"><b>1.3.1</b> Si vous n'avez pas de compte Membre gratuit</span></p>
<p class="p3"><span class="s1">Si vous n'avez pas créé de compte Membre sur notre Plateforme, vous pouvez tout de même accéder à la Plateforme mais vous ne pourrez pas bénéficier de toutes les fonctionnalités et vous n'aurez pas de profil personnel. En effet certains accès ne vous seront pas autorisés, comme l'accès intégral aux cours publiés par notre équipe pédagogique et les quiz de fin d'exercice. Vous n'aurez pas de compte personnel. Les présentes CGU vous sont opposables car elles régissent les conditions d'utilisation du Service, vous devez en prendre connaissance et les accepter avant de poursuivre votre navigation sur la Plateforme.</span></p>
<p class="p3"><span class="s1"><b>1.3.2</b> Si vous avez déjà un compte membre<span class="Apple-converted-space"> </span></span></p>
<p class="p3"><span class="s1">Si vous avez créé un compte Membre vous pouvez accéder à la Plateforme et à certaines fonctionnalités du Service. Suite à la création de votre compte, vous pourrez accéder à votre page de profil où vous renseignez certaines mentions qui sont obligatoires et d'autres qui sont optionnelles.</span></p>
<p class="p8"><span class="s3">Vous pouvez accéder à tous les cours disponibles.. Vous avez également accès aux quiz à la fin des cours. Avant d'utiliser la Plateforme, vous devrez lire attentivement les présentes Conditions Générales d'Utilisation.</span></p>
<p class="p7"><span class="s3"></span><br></p>
<p class="p9"><span class="s1">Article 2. Informations fournies par vous</span></p>
<p class="p3"><span class="s1">Chaque personne garantit à Webemy que les informations qu'il fournit quant à son identité et ses coordonnées dans le cadre du Service sont vraies, exactes, complètes et à jour. Vous êtes seul responsable de la sincérité et de l'exactitude de ces informations. Vous vous engagez à mettre à jour régulièrement l'ensemble des informations afin de préserver leur exactitude.</span></p>
<p class="p3"><span class="s1">Webemy ne pourra en aucun cas être tenue responsable des erreurs, omissions, imprécisions pouvant être relevées dans les informations que vous nous avez fournies, ni du préjudice pouvant éventuellement en découler pour les autres Utilisateurs ou pour des tiers.</span></p>
<p class="p8"><span class="s3">Vous êtes responsable de toute l'activité qui se déroule sur votre compte, et vous acceptez de préserver à tout moment la sécurité et le secret de votre identifiant et de votre mot de passe. Vous ne pouvez posséder qu'un seul compte.</span></p>
<p class="p7"><span class="s3"></span><br></p>
<p class="p10"><span class="s1">Article 3. Propriété intellectuelle</span></p>
<p class="p6"><span class="s1">3.1. Propriété intellectuelle afférente au Service, à notre Plateforme et aux éléments qui les composent</span></p>
<p class="p3"><span class="s1">A l'exception des cours réalisés par les Utilisateurs et/ou par les Partenaires de Webemy, l'ensemble des éléments techniques, graphiques, textuels ou autres constituant le Service et/ou notre Plateforme (textes, graphismes, logiciels, fichiers multimédias, photographies, images, vidéos, sons, plans, charte graphique, technologie(s), codes sources, noms, marques, logos, visuels, bases de données, etc.) ainsi que notre Plateforme et le Service eux-mêmes sont la propriété exclusive de Webemy.</span></p>
<p class="p3"><span class="s1">L'Utilisateur reconnaît qu'aucune propriété ne lui est transmise, et qu'aucun droit ou licence ne lui est accordé(e), en dehors d'un droit d'utiliser le Service conformément aux présentes pendant la durée du Contrat, et des droits d'utilisation des cours qui lui sont concédés en vertu des licences Creative Commons visées à l'article 4.1.1 ci-après.</span></p>
<p class="p3"><span class="s1">En conséquence, sauf autorisation expresse et préalable de Webemy et/ou sauf licence Creative Commons l'y autorisant, l'Utilisateur s'engage à ne pas :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"></span><span class="s1">Reproduire, à des fins commerciales ou non, des cours présents au sein du Service (à l'exception de ses propres cours) et/ou les éléments techniques, graphiques, textuels ou autres constituant le Service et/ou notre Plateforme ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Intégrer tout ou partie du contenu du Service et/ou de notre Plateforme dans un site tiers, à des fins commerciales ou non ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Utiliser un robot, notamment d'exploration (spider), une application de recherche ou de récupération de sites Web ou tout autre moyen permettant d'extraire, réutiliser ou d'indexer tout ou partie du contenu du Service et/ou de notre Plateforme ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Collecter les informations sur les Utilisateurs pour leur envoyer des messages non sollicités et/ou les intégrer au sein d'un service de référencement ou équivalent, gratuit ou payant ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Copier les cours présents au sein du Service (à l'exception de ses propres cours) et/ou les éléments techniques, graphiques, textuels ou autres constituant le service et/ou notre Plateforme sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d'origine.</span></li>
</ul>
<p class="p3"><span class="s1">Toute utilisation non expressément autorisée d'éléments du Service et/ou de notre Plateforme engage la responsabilité civile et/ou pénale de son auteur et sera susceptible d'entraîner des poursuites judiciaires à son encontre.</span></p>
<p class="p6"><span class="s1">3.2. Propriété intellectuelle afférente aux contenus publiés par l'Utilisateur au sein du Service</span></p>
<p class="p3"><span class="s1"><b>3.2.1.</b> En contrepartie de l'usage du Service, et quelle que soit la licence Creative Commons à laquelle le cours est soumis par ailleurs, les Membres accordent à Webemy une licence mondiale, non-exclusive, transférable et pouvant donner lieu à l'octroi d'une sous-licence, conférant à Webemy le droit de copier, stocker, corriger, adapter et diffuser l'ensemble des contenus (en ce compris, les cours, les Projets et toute autre activité réalisée par les Membres au sein du Service) fournis par le Membre au sein du Service. Cette licence est concédée au fur et à mesure de la publication des éléments concernés, aux seules fins du bon fonctionnement du Service.</span></p>
<p class="p3"><span class="s1"><b>3.2.2.</b> Les Membres susmentionnés garantissent qu'ils disposent des droits de propriété intellectuelle et des droits de la personnalité (et en particulier, le droit à l'image) nécessaires à la publication des contenus (en ce compris, les cours) qu'ils publient au sein du Service.</span></p>
<p class="p3"><span class="s1">Ils garantissent également que les contenus qu'ils publient au sein du Service ne contiennent rien qui soit contraire aux droits des tiers et aux lois en vigueur, et notamment aux dispositions relatives à la diffamation, à l'injure, à la vie privée, au droit à l'image, à l'atteinte aux bonnes mœurs ou à la contrefaçon.</span></p>
<p class="p3"><span class="s1">Vous garantissez ainsi Webemy contre tout recours éventuel d'un tiers concernant la publication desdits contenus (en ce compris, les cours) au sein du Service.</span></p>
<p class="p4"><span class="s3"></span><br></p>
<p class="p4"><span class="s3"></span><br></p>
<p class="p11"><span class="s1">Article 4. Fonctionnalités du service</span></p>
<p class="p6"><span class="s1">4.1. Les cours en ligne</span></p>
<p class="p3"><span class="s1"><b>4.1.1.</b> Tout cours publié au sein du Service demeure la propriété de son auteur.</span></p>
<p class="p3"><span class="s1">Sauf mention contraire, chaque cours est soumis à l'une des quatre (4) licences Creative Commons suivantes :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"></span><span class="s1">Licence CC BY ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Licence CC BY-SA ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Licence CC BY-NC ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Licence CC BY-NC-SA ;</span></li>
</ul>
<p class="p3"><span class="s1">Les droits d'utilisation couverts par chacune de ces licences Creative Commons sont détaillés sur <a href="https://creativecommons.org/licenses/?lang=fr-FR"><span class="s4">la page suivante</span></a>.</span></p>
<p class="p3"><span class="s1">L'Utilisateur s'engage à prendre connaissance de la licence à laquelle chaque cours est soumis et à respecter les modalités d'usage du cours visées par la licence concernée. Notamment, l'Utilisateur qui souhaite reproduire tout ou partie d'un cours doit impérativement vérifier que la licence à laquelle il est soumis le permet.</span></p>
<p class="p6"><span class="s1">4.2. Espaces de discussion</span></p>
<p class="p3"><span class="s1">Les Membres et les Abonnés ont la faculté d'accéder à des espaces de discussion où ils peuvent consulter notamment les fils de discussion entre Membres ou entre Abonnés, et échanger avec ces derniers sur une question donnée.</span></p>
<p class="p3"><span class="s1">Vous vous engagez à ne pas diffuser de correspondance privée sur les espaces de discussion publics et doit, à cette fin, utiliser le service de messagerie privée.</span></p>
<p class="p3"><span class="s1">Lorsque vous publiez un message, vous vous obligez à respecter en particulier les dispositions de l'article 7.2 ci-après et celles de la « <a href="https://openclassrooms.com/terms-conditions#code-of-conduct"><span class="s4">Charte de Bonne Conduite</span></a> ».</span></p>
<p class="p8"><span class="s3">Les Membres et les Abonnés peuvent visualiser les messages des autres Membres et Abonnés sur les espaces de discussion publics et les signaler, conformément à l'article 5 ci-après.</span></p>
<p class="p7"><span class="s3"></span><br></p>
<p class="p12"><span class="s1">Article 5. Signalement - modération a posteriori</span></p>
<p class="p3"><span class="s1">Tout Membre ou Abonné a la possibilité de signaler à Webemy tout message ou commentaire et plus généralement tout contenu publié au sein du Service qui serait contraire au Contrat ou autrement illicite, et notamment outrageant, injurieux, diffamatoire, abusif, violent, obscène ou pornographique, ou comprenant une provocation à la discrimination ou à la haine fondée sur la race, la religion, le sexe, ou autre, une provocation aux crimes et délits, ou une apologie de crime, ou de nature à porter atteinte aux droit de propriété intellectuelle ou aux droits de la personnalité des tiers, ou encore de nature à altérer le fonctionnement du Service et/ou de notre Plateforme, de quelque manière que ce soit.</span></p>
<p class="p3"><span class="s1">Pour cela, vous devrez contacter Webemy, soit par email à l'adresse : <a href="mailto:hello@openclassrooms.com"><span class="s4">hello@Webemy.com</span></a>, soit à l'aide du formulaire accessible au sein du Service en cliquant sur l'onglet « Nous contacter », soit par courrier postal à l'adresse : Webemy, 2 bis, Rue de la Condamine, </span><span class="s5">38610</span><span class="s1"> Gières, France, et procéder comme suit :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"></span><span class="s1">Décliner votre identité ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Décrire le contenu litigieux de manière précise et détaillée ainsi que sa localisation sur notre Plateforme ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Décrire les motifs de fait et droit pour lesquels le contenu litigieux doit être considéré comme manifestementillicite et, par suite, retiré de notre Plateforme ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Adresser la copie de la correspondance que vous aurez préalablement envoyée à l'auteur de ce contenu pour en demander la modification ou le retrait et/ou la justification que vous n'avez pas pu contacter cet auteur.</span></li>
</ul>
<p class="p3"><span class="s1">Nous nous réservons le droit de supprimer tout contenu illicite ou non conforme au Contrat qui aura été préalablement signalé. Tout signalement manifestement abusif pourra être sanctionné par Webemy.</span></p>
<p class="p8"><span class="s3">Pour plus d'informations sur ses obligations, vous êtes invité à prendre connaissance de la « <a href="https://openclassrooms.com/terms-conditions#code-of-conduct"><span class="s6">Charte de Bonne Conduite</span></a> ».</span></p>
<p class="p7"><span class="s3"></span><br></p>
<p class="p13"><span class="s1">Article 6. Protection des données personnelles</span></p>
<p class="p3"><span class="s1">Nous portons une attention particulière à la protection de vos données personnelles. Vous trouverez <a href="https://openclassrooms.com/privacy-policy"><span class="s4">ici</span></a> le descriptif détaillé des utilisations que nous faisons de vos données personnelles et des cookies et leurs finalités.</span></p>
<p class="p8"><span class="s3">Webemy invite expressément l'Utilisateur à consulter sa Politique de protection des données personnelles qui fait partie intégrante des présentes CGU.</span></p>
<p class="p7"><span class="s3"></span><br></p>
<p class="p2"><span class="s1">Article 7. Obligations des Utilisateurs et Charte de Bonne Conduite</span></p>
<p class="p6"><span class="s1">7.1. Obligations des Utilisateurs</span></p>
<p class="p3"><span class="s1">Dans le cadre de l'utilisation de la Plateforme, nous vous demandons de vous engager à :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"></span><span class="s1">Garantir l'exactitude, l'intégrité et la légalité des informations que vous fournissez sur la Plateforme quant à votre identité et vos coordonnées ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Garantir le bon usage de la Plateforme ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Ne créer qu'un seul compte au sein de la Plateforme ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">S'abstenir de saisir des informations et/ou messages, commentaires et autres contenus malveillants, dénigrants, diffamatoires, injurieux, obscènes, pornographiques, violents, à caractère raciste, xénophobe, discriminatoire, volontairement trompeurs, illicites et/ou contraires à l'ordre public ou aux bonnes mœurs ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Respecter les droits des tiers, et notamment le droit de chacun au respect de sa vie privée, de son image et de ses autres droits de la personnalité, ainsi que les droits de propriété intellectuelle (droit d'auteur, droits voisins, droit sur les bases de données, droit des marques, droit des brevets, dessins ou modèles, secret de fabrique, etc.) ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Ne pas usurper la qualité, l'attribut ou l'identifiant d'un autre Utilisateur ou d'un tiers de nature à induire en erreur ou à créer une confusion quelconque quant à son identité, à la provenance des informations, contenus(cours, messages, commentaires, etc.) qu'il diffuse ou transmet au sein de la Plateforme ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Ne pas altérer ou perturber l'intégrité de la Plateforme et/ou des données qui y sont contenues ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Ne pas tenter d'obtenir un accès non autorisé à la Plateforme ou aux systèmes ou réseaux qui lui sont associés ou d'intercepter des données ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Utiliser la Plateforme dans le respect des législations et réglementations nationales et/ou internationales applicables.</span></li>
</ul>
<p class="p3"><span class="s1">En cas de manquement à l'une de ces obligations, nous nous réservons le droit de suspendre temporairement ou définitivement le compte de l'Utilisateur.</span></p>
<p class="p6"><span class="s1">7.2. Charte de Bonne Conduite</span></p>
<p class="p3"><span class="s1">Webemy est un site web communautaire basé sur l'entraide et le partage dont les forums sont ouverts à tous les Membres et Abonnés. Chacun est invité à y participer, en se créant un compte sur Webemy et en respectant les règles élémentaires de courtoisie et la législation en vigueur.</span></p>
<p class="p3"><span class="s1">Les échanges sur Webemy sont modérés a posteriori, c'est-à-dire qu'aucun message ne sera relu avant sa publication. Les messages sont donc publiés immédiatement, mais sont susceptibles d'être contrôlés par l'équipe de modération et les administrateurs de notre Plateforme, après publication par le membre.</span></p>
<p class="p3"><span class="s1">Le rôle de l'équipe de modération et des administrateurs est de veiller au bon fonctionnement des forums, en écartant tout message qui par leur caractère indigne, attentatoire aux personnes, destructeur ou manifestement hors sujet, nuisent aux échanges. Les modérateurs et les administrateurs excluent également tous messages contraires aux lois en vigueur.</span></p>
<p class="p3"><span class="s1">Sont ainsi susceptibles de modération (liste non exhaustive) :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"></span><span class="s1">les messages à caractère racistes, haineux, homophobes, sexistes ou diffamatoires</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">les messages à caractère publicitaires</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">les messages obscènes, pornographiques ou relevant du harcèlement</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">les messages mentionnant des coordonnées précises comme un numéro de téléphone, une adresse postale et dontl'origine et l'exactitude sont invérifiables par les modérateurs ou pourraient engendrer un préjudices à des personnes</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">les messages publiés en plusieurs exemplaires</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">les messages hors sujet ou incitant à la polémique</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">les messages en langage abrégé ou dont l'orthographe est trop approximative</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">les messages rédigés entièrement en majuscules</span></li>
</ul>
<p class="p8"><span class="s3">En cas de non-respect de ces règles et consignes, l'équipe de Webemy appliquera certaines sanctions aux Utilisateurs concernés. La sanction la plus élevée est le bannissement et consiste à bloquer entièrement l'accès à la Plateforme à un Utilisateur.</span></p>
<p class="p7"><span class="s3"></span><br></p>
<p class="p5"><span class="s1">Article 8. Responsabilité de Webemy</span></p>
<p class="p6"><span class="s1">8.1. A l'égard des informations et/ou contenus publiés au sein de la Plateforme par les Utilisateurs</span></p>
<p class="p3"><span class="s1">A l'exception des cours créés par les Membres - qui devront faire l'objet d'une validation préalable par Webemy avant leur mise en ligne, les informations et contenus (messages, commentaires) publiés par les Utilisateurs au sein de la Plateforme ne sont pas contrôlés en amont par Webemy avant leur publication au sein de la Plateforme. En revanche, ils seront susceptibles d'être contrôlés a posteriori par Webemy.</span></p>
<p class="p3"><span class="s1">En notre qualité d'hébergeur de ces informations et/ou contenus (hors cours) mis en ligne par l'Utilisateur par l'intermédiaire de notre Plateforme, nous sommes soumis au régime de responsabilité atténuée prévu aux articles 6.I.2 et suivants de la loi nº2004-575 du 21 juin 2004 pour la Confiance dans l'Économie Numérique. Nous pourrons, dans ce cadre, supprimer les Informations et/ou contenus manifestement illicites qui nous seront notifiés.</span></p>
<p class="p6"><span class="s1">8.2. En cas d'inexécution de nos obligations</span></p>
<p class="p3"><span class="s1">Webemy ne sera responsable que des dommages directs subis par les Utilisateurs, dont il sera établi qu'ils résultent de l'inexécution nos obligations.</span></p>
<p class="p3"><span class="s1">En revanche, nous ne saurons en aucun cas être tenus responsable :</span></p>
<ul class="ul1">
    <li class="li3"><span class="s2"></span><span class="s1">Des dommages qui résulteraient du fait de l'Utilisateur, de difficultés inhérentes au fonctionnement du réseau Internet et plus généralement des réseaux de télécommunication, quelle que soit leur nature, du fait d'un tiers ou d'un cas de force majeure ;</span></li>
    <li class="li3"><span class="s2"></span><span class="s1">Des dommages indirects résultant de l'utilisation de la Plateforme, ceux-ci étant définis de façon non limitative comme les pertes d'exploitation (chiffre d'affaires, revenus ou bénéfices), les pertes d'opportunités, les préjudices d'image ou de réputation, préjudice commercial ou économique ;</span></li>
    <li class="li8"><span class="s3">De toute perte de données subie par l'Utilisateur, même si elle est du fait de Webemy.</span></li>
    <li class="li14"></li>
</ul>
<p class="p9"><span class="s1">Article 9. Interruption du service pour maintenance ou amélioration</span></p>
<p class="p3"><span class="s1">Nous nous engageons à mettre tout en œuvre pour assurer le bon fonctionnement de la Plateforme et son accessibilité mais nous ne sommes tenus qu'à une obligation de moyens concernant la continuité de l'accès au Service. Nous ne pouvons garantir la pérennité ou les performances de la Plateforme.</span></p>
<p class="p3"><span class="s1">En cas de mise à jour de la Plateforme pour une évolution technique, notre Plateforme sera inaccessible temporairement.</span></p>
<p class="p3"><span class="s1">L'accès au Service pourra être interrompu pour des raisons notamment de maintenance, de mise à jour et en cas d'urgence.</span></p>
<p class="p3"><span class="s1">Plus généralement, l'interruption du Service quel que soit la cause, la durée ou la fréquence, n'engagera pas notre responsabilité et ne donnera droit à aucune indemnité à l'Utilisateur.</span></p>
<p class="p3"><span class="s1">En conséquence, nous ne pouvons être tenu pour responsable de la perte d'argent, ou de réputation, ni des dommages spéciaux, indirects ou induits résultant de l'interruption du Service. De même, nous ne pourrons être tenus pour responsable des éventuelles dégradations de matériel, logiciel ou données (exemple : contamination virale) subies par l'Utilisateur du fait de son utilisation du Service.</span></p>
<p class="p3"><span class="s1">Pour éviter autant que possible des désagréments, vous devez vous assurer de la réalisation régulière de sauvegardes concernant vos informations, contenus et logiciels.</span></p>
<p class="p8"><span class="s3">Vous reconnaissez utiliser le Service, mais un "bug" de notre Plateforme peut vous faire perdre certaines de vos données, les altérer ou les exposer. Nous nous engageons cependant à tout mettre en oeuvre pour les restaurer dans la mesure du possible et à vous garantir un accès à la Plateforme le plus rapidement.</span></p>
<p class="p4"><span class="s3"></span><br></p>
<p class="p10"><span class="s1">Article 10. Inscription et droits sur le compte Utilisateur</span></p>
<p class="p6"><span class="s1">10.1. Par un Membre</span></p>
<p class="p3"><span class="s1">Tous les Membres de notre Plateforme disposent d'un droit d'accès, de modification ou de suppression de leur compte.</span></p>
<p class="p3"><span class="s1">Si vous avez obtenu un certificat ou un diplôme ou validé des compétences ne pourrons pas faire droit à votre demande de suppression de compte. En raison de nos obligations réglementaires liées à la nature de notre activité, nous devons conserver votre dossier étudiant comprenant votre fiche identité, et l'ensemble de votre parcours suivi avec Webemy. Vos données seront archivées tout en veillant à une exigence maximale de sécurité en n'étant accessibles qu'à un nombre limité de personnes au sein de nos services. Nous pourrons, si vous le souhaitez, vous adressez votre dossier étudiant.</span></p>
<p class="p3"><span class="s1">Dans le premier cas, nous supprimerons toutes vos données dans un délai de trente (30) jours, mais dans le second cas, nous ne pourrons pas faire droit à votre demande car nous devons conserver votre dossier lorsque vous serez diplômé pour des contraintes règlementaires liées à la nature de notre activité.</span></p>
<p class="p3"><span class="s1">Les Utilisateurs ainsi que les Abonnés peuvent à tout moment modifier et obtenir un droit d'accès à leur compte personnel en nous contactant par email à l'adresse </span><span class="s7">hello@webemy.fr</span><span class="s1">. Si vous souhaitez vous désinscrire de notre Plateforme, veuillez cliquer sur le lien « je veux supprimer mon compte » dans l'onglet paramètre du profil membre ou en nous contactant par email à l'adresse précité. Votre demande de suppression de compte entraînera la suppression de vos données personnelles de nos bases de données. La désinscription entraînera la résiliation du Contrat. Cette résiliation prendra effet dans un délai de trente (30) jours ouvrés à compter de la réception de la demande de désinscription par Webemy.</span></p>
<p class="p6"><span class="s1">10.2. Par Webemy</span></p>
<p class="p3"><span class="s1">Si une demande d'inscription à nos services est effectuée par un mineur sans le consentement préalable de son responsable légal, nous pourrons bloquer l'accès au Compte jusqu'à ce que le consentement soit obtenu.</span></p>
<p class="p3"><span class="s1">Lorsque nous remarquons qu'un Utilisateur, un Membre ou un Abonné de la Plateforme ne respecte pas les présentes CGU et les CGV, nous prendrons contact avec lui pour l'avertir qu'une sanction à son égard peut être prise, notamment la suspension de son compte. La Charte de bonne conduite énoncée dans ces CGU doit être respectée par chacun pour le bon fonctionnement de la Plateforme et la bonne entente entre les personnes.</span></p>
<p class="p8"><span class="s3">Si aucune solution ne parvient à être trouvée et que les règles de bonne conduite ne sont pas respectées, nous serons dans l'obligation de désactiver votre compte pour une durée temporaire ou définitive et nous prendrons contact avec vous au préalable par email.</span></p>
<p class="p7"><span class="s3"></span><br></p>
<p class="p11"><span class="s1">Article 11. Force majeure</span></p>
<p class="p3"><span class="s1">Aucune des parties ne sera responsable vis-à-vis de l'autre partie d'un retard d'exécution ou d'une inexécution en raison de survenance d'un événement en dehors du contrôle des parties qui ne pouvait être raisonnablement prévu lors de l'acceptation des CGU et dont les effets ne peuvent pas être évités par des mesures appropriées.</span></p>
<p class="p8"><span class="s3">Le cas de force majeure suspend les obligations de la partie concernée pendant le temps où jouera la force majeure si cet évènement est temporaire. Néanmoins, les parties s'efforceront d'en minimiser dans toute la mesure du possible les conséquences. A défaut, si l'empêchement est définitif, les parties seront libérées de leurs obligations dans les conditions prévues aux articles 1351 et 1351-1 du Code civil.</span></p>
