{% extends 'base.html.twig' %}

{% block title %}
    Cours
{% endblock %}

{% block body %}
    {% block article %}
        <div class="col-lg-8">
        </div>
    {% endblock %}

    {% block aside %}
    {% include 'aside.html.twig' %}
    {% endblock %}
{% endblock %}